---
import CategoryLink from '@/components/links/CategoryLink.astro';
import PostBreadcrumbs from '@/components/post-view/PostBreadcrumbs.astro';
import PostMetadata from '@/components/post-view/PostMetadata.astro';
import PostReactionPrompt from '@/components/post-view/PostReactionPrompt.astro';
import PostReactions from '@/components/post-view/PostReactions.astro';
import PostStructuredData from '@/components/post-view/PostStructuredData.astro';
import Prose from '@/components/post-view/Prose.astro';
import RelatedPosts from '@/components/post-view/RelatedPosts.astro';
import SyndicationList from '@/components/post-view/SyndicationList.astro';
import TableOfContents from '@/components/post-view/TableOfContents.astro';
import TagList from '@/components/TagList.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getRelatedPosts } from '@/lib/related-posts';
import { Picture } from 'astro:assets';
import { getEntry, render } from 'astro:content';

const { slug } = Astro.params;
if (!slug) {
  throw new Error('Slug parameter is required');
}

const entry = await getEntry('posts', slug);
if (!entry) {
  return new Response(null, { status: 404, statusText: 'Not Found' });
}

const { title, description, heroImage, publishDate, category, tags, showReactions } = entry.data;
const { Content, headings, remarkPluginFrontmatter } = await render(entry);
const { updatedDate, readingTime } = remarkPluginFrontmatter;
const relatedPosts = await getRelatedPosts(slug, category, tags);
---

<BaseLayout {title} {description} isArticle={true} {heroImage} mainClass="h-entry">
  <Picture
    src={heroImage.src}
    alt={heroImage.alt}
    width={1280}
    height={660}
    formats={['avif', 'webp']}
    class="mt-4 mb-8 rounded-4xl shadow-xl md:my-12"
    quality={85}
    loading="eager"
    fetchpriority="high"
  />

  <PostStructuredData {title} {description} image={heroImage.src} {publishDate} {updatedDate} slot="head" />
  <PostMetadata {title} {description} {publishDate} {updatedDate} {readingTime} class="my-8 md:my-12" />
  <PostBreadcrumbs {title} class="mb-8 hidden md:block" />

  <div class="flex w-full">
    <div class="w-full">
      <Prose class="e-content w-full max-w-none xl:max-w-prose">
        <Content />
      </Prose>
      <PostReactionPrompt slug={slug} class="mt-4" />
    </div>

    <aside class="sticky top-24 hidden grow flex-col gap-6 self-start pl-4 xl:flex">
      <TableOfContents
        headings={headings}
        includeReactionsLink={showReactions}
        includeRelatedPostsLink={relatedPosts.length > 0}
      />
      {category && <CategoryLink category={category} />}
      {tags.length > 0 && <TagList tags={tags} />}
      <SyndicationList slug={slug} />
    </aside>
  </div>

  {showReactions && <PostReactions {slug} />}
  {relatedPosts.length > 0 && <RelatedPosts posts={relatedPosts} />}
</BaseLayout>
