---
import FeaturedPost from '@/components/FeaturedPost.astro';
import PopularTags from '@/components/PopularTags.astro';
import { POSTS_PAGE_SIZE, POSTS_PATH } from '@/constants';
import PostListLayout from '@/layouts/PostListLayout.astro';
import { getCollection } from 'astro:content';

const sortedEntries = (await getCollection('posts'))
  .filter((post) => !post.data.isFeatured)
  .sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf());

const pageParam = Astro.url.searchParams.get('page');
const currentPage = pageParam ? Math.max(1, parseInt(pageParam)) : 1;

const totalPages = Math.ceil(sortedEntries.length / POSTS_PAGE_SIZE);
const startIndex = (currentPage - 1) * POSTS_PAGE_SIZE;
const endIndex = startIndex + POSTS_PAGE_SIZE;
const pageEntries = sortedEntries.slice(startIndex, endIndex);

const title = currentPage === 1 ? 'Blog Posts' : `Blog Posts - Page ${currentPage}`;
const description =
  'A collection of blog posts on various topics including web development, programming, and technology.';
---

<PostListLayout
  {title}
  {description}
  entries={pageEntries}
  currentPage={currentPage}
  lastPage={totalPages}
  listTitle="Recent"
  basePath={`${POSTS_PATH}`}
>
  {
    currentPage === 1 && (
      <div class="my-8 grid grid-cols-1 gap-4 lg:grid-cols-3">
        <div class="lg:col-span-2">
          <FeaturedPost />
        </div>
        <div class="lg:col-span-1">
          <PopularTags />
        </div>
      </div>
    )
  }
</PostListLayout>
