---
import BlogPostCard from '@/components/BlogPostCard.astro';
import HeroSection from '@/components/HeroSection.astro';
import { Pagination, PaginationContent, PaginationItem, PaginationLink } from '@/components/starwind/pagination';
import BaseLayout from '@/layouts/BaseLayout.astro';
import type { GetStaticPaths } from 'astro';
import { getCollection } from 'astro:content';

export const getStaticPaths = (async ({ paginate }) => {
  const entries = (await getCollection('posts')).sort(
    (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
  );
  return paginate(entries, { pageSize: 6 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;

const title = 'Blog Posts';
const description =
  'A collection of blog posts on various topics including web development, programming, and technology.';
---

<BaseLayout title={title} description={description}>
  <HeroSection title={title} subtitle={description} />

  <section class="my-8">
    <h2 class="mb-4 text-center font-heading text-2xl font-semibold text-secondary md:text-4xl">Recent Posts</h2>
    <nav class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {page.data.map((entry) => <BlogPostCard href={`/blog/${entry.id}`} {...entry.data} />)}
    </nav>
  </section>

  <section class="my-8">
    <h2 class="mb-4 text-center font-heading text-2xl font-semibold text-secondary md:text-4xl">More Posts</h2>
    <Pagination>
      <PaginationContent>
        {
          Array.from({ length: page.lastPage }, (_, i) => (
            <PaginationItem>
              <PaginationLink href={`/blog/page/${i + 1}`} isActive={i + 1 === page.currentPage}>
                {i + 1}
              </PaginationLink>
            </PaginationItem>
          ))
        }
      </PaginationContent>
    </Pagination>
  </section>
</BaseLayout>
