---
import headshotImage from '@/assets/headshot2.png';
import melbourneImage from '@/assets/melbourne-2006.jpg';
import singaporeBayImage from '@/assets/singapore-bay.jpg';
import trs80Image from '@/assets/trs-80-pocket-edition.jpg';
import HeroSection from '@/components/HeroSection.astro';
import ImageParagraph from '@/components/ImageParagraph.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
import Image from 'astro/components/Image.astro';

const title = 'About Me';
const subtitle = 'A little bit about who I am and what I do.';
const description =
  'Learn about Fraser McLean, a software developer and consultant based in Singapore, specialising in full-stack web development and cloud solution architecture.';
---

<BaseLayout {title} {description}>
  <HeroSection {title} {subtitle} />
  <div class="mx-auto flex max-w-4xl flex-col gap-8 text-lg">
    <section class="flex w-full flex-col-reverse items-center gap-4 text-center sm:flex-row">
      <div class="grow">
        <h2 class="mb-4 font-heading text-2xl font-semibold text-secondary md:text-4xl">Hello</h2>
        <p>
          My name is Fraser McLean, and I am a software developer with a passion for creating intuitive and efficient
          applications. Welcome to my little corner of the web where I share my thoughts, projects, and experiences in
          the world.
        </p>
      </div>

      <Image
        src={headshotImage}
        width={256}
        height={256}
        alt="Fraser McLean Headshot"
        class="rounded-full border-4 sm:mr-4"
      />
    </section>

    <section class="flex flex-col gap-4">
      <h2 class="font-heading text-2xl font-semibold text-secondary md:text-4xl" id="background">Background</h2>

      <ImageParagraph
        headingText="Growing Up in Africa"
        image={trs80Image}
        caption="Writing BASIC programs on a single line display"
      >
        I was born in Zimbabwe, but grew up in South Africa where I developed an early interest in technology. I
        remember being fascinated by programming BASIC on handheld computers at my first school. From then on, I knew
        had to pursue a career in technology. After finishing high school, I studied network engineering, systems
        administration, and software development.
      </ImageParagraph>

      <section>
        <h3 class="mb-1 font-heading text-lg font-semibold tracking-wide text-secondary/80 sm:text-xl">
          First move to London and into AV Integration
        </h3>
        <p>
          In the early 2000s I moved to London and came across the world of AV integration, which I found fascinating. I
          loved the blend of hardware and software, and seeing the results of my work in real-world applications. I
          spent several years working in the AV industry, designing and implementing solutions for a variety of clients.
        </p>
      </section>

      <ImageParagraph
        image={melbourneImage}
        headingText="Melbourne and University"
        caption="Melbourne skyline circa 2006"
      >
        I moved to Melbourne, Australia, to pursue a degree in another of my passions: game development. I enjoyed
        attending RMIT University and learning all about game design and development. I attained my degree in 2010, but
        ultimately decided to remain working in the local AV industry. I ran my own business for several years and
        worked for some of largest AV integrators in the country, designing and implementing solutions for a wide range
        of clients.
      </ImageParagraph>

      <section>
        <h3 class="mb-1 font-heading text-lg font-semibold tracking-wide text-secondary/80 sm:text-xl">
          Transition to Web Development and Cloud Computing
        </h3>
        <p>
          While I loved working in the AV industry, I was also drawn to the world of web development and cloud
          computing. I had the opportunity to build a prototype web application that facilitated control systems
          monitoring and reporting out in the field. From then on, I was hooked on web development and cloud computing,
          and I have been learning and building in that space ever since. I have worked as a software engineer and
          consultant, specialising in full-stack web development and cloud solution architecture.
        </p>
      </section>

      <ImageParagraph
        image={singaporeBayImage}
        headingText="Singapore and Consulting"
        caption="Singapore bay is truly beautiful"
      >
        In 2023, I relocated to Singapore with my wife in order to support her in pursuing an exciting career
        opportunity. It's an amazing place with excellent travel opportunities around South East Asia. As I didn't have
        local work authorization, I started my own consulting business, focussing on Azure solution architecture and
        development.
      </ImageParagraph>

      <section>
        <h3 class="mb-1 font-heading text-lg font-semibold tracking-wide text-secondary/80 sm:text-xl">
          Back to London and Looking to the Future
        </h3>
        <p>In 2026, we moved back to London for a second time where I am currently looking for new opportunities.</p>
      </section>
    </section>
  </div>
</BaseLayout>
