---
import HeroSection from '@/components/HeroSection.astro';
import { Button } from '@/components/starwind/button';
import { Card, CardContent, CardDescription, CardFooter, CardHeader, CardTitle } from '@/components/starwind/card';
import { Input } from '@/components/starwind/input';
import { Label } from '@/components/starwind/label';
import { Textarea } from '@/components/starwind/textarea';
import BaseLayout from '@/layouts/BaseLayout.astro';
import MailIcon from '@tabler/icons/outline/mail.svg';
import { TURNSTILE_SITE_KEY } from 'astro:env/client';

const title = 'Contact Me';
const subtitle = "If you have any questions or inquiries, I'd love to hear from you!";
const description =
  'Make use of the contact form to get in touch with me with any questions or inquiries. Just fill in your details, and I will get back to you as soon as possible.';
---

<link rel="preconnect" href="https://challenges.cloudflare.com" slot="head" />
<script is:inline src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer slot="head"></script>

<BaseLayout {title} {description}>
  <HeroSection {title} {subtitle} />

  <Card class="mx-auto max-w-md p-4 md:p-6" as="form">
    <CardHeader class="mb-4 p-0">
      <CardTitle>Get in Touch</CardTitle>
      <CardDescription>Fill out the form below to contact me.</CardDescription>
    </CardHeader>
    <CardContent class="my-4 space-y-4 p-0">
      <div class="space-y-2">
        <Label for="name">Name</Label>
        <Input id="name" type="text" placeholder="Bob Jones" autocomplete="name" required />
      </div>
      <div class="space-y-2">
        <Label for="email">Email</Label>
        <Input id="email" type="email" placeholder="bob.jones@example.com" autocomplete="email" required />
      </div>
      <div class="space-y-2">
        <Label for="message">Message</Label>
        <Textarea id="message" placeholder="Hi there" rows="6" required />
      </div>
    </CardContent>
    <CardFooter class="flex-col gap-4 p-0">
      <div class="cf-turnstile w-full" data-sitekey={TURNSTILE_SITE_KEY} data-size="flexible"></div>
      <Button class="w-full" variant="primary" type="submit" disabled>
        <MailIcon class="mr-2" />
        Send Message
      </Button>
    </CardFooter>
  </Card>
</BaseLayout>

<script>
  import { actions } from 'astro:actions';

  const form = document.querySelector<HTMLFormElement>('form');
  const nameInput = document?.querySelector<HTMLInputElement>('#name');
  const emailInput = document?.querySelector<HTMLInputElement>('#email');
  const messageInput = document?.querySelector<HTMLTextAreaElement>('#message');

  nameInput?.addEventListener('input', validateForm);
  emailInput?.addEventListener('input', validateForm);
  messageInput?.addEventListener('input', validateForm);

  function validateForm() {
    const submitButton = form?.querySelector<HTMLButtonElement>('button[type="submit"]');

    if (!nameInput || !emailInput || !messageInput || !submitButton) {
      console.error('Form elements not found');
      return;
    }
    const isValid = nameInput.checkValidity() && emailInput.checkValidity() && messageInput.checkValidity();
    submitButton.disabled = !isValid;
  }

  function getFormValues() {
    const tokenInput = form?.querySelector<HTMLInputElement>('input[name="cf-turnstile-response"]');
    return {
      name: nameInput?.value.trim(),
      email: emailInput?.value.trim(),
      message: messageInput?.value.trim(),
      token: tokenInput?.value
    };
  }

  form?.addEventListener('submit', async (event) => {
    event.preventDefault();

    const { name, email, message, token } = getFormValues();

    if (!name || !email || !message || !token) {
      alert('Form is incomplete. Please fill out all fields.');
      return;
    }

    const { error } = await actions.processContactForm({ name, email, message, token });

    if (error) {
      alert('There was an error sending your message. Please try again later.');
      return;
    }

    form.reset();
  });
</script>
