---
import headshotImage from '@/assets/fraser-headshot.jpg';
import ButtonLink from '@/components/links/ButtonLink.astro';
import SkillsSection from '@/components/SkillsSection.astro';
import { ABOUT_PATH, POSTS_PATH } from '@/constants';
import BaseLayout from '@/layouts/BaseLayout.astro';
import ArticleIcon from '@tabler/icons/outline/article.svg';
import UserIcon from '@tabler/icons/outline/user.svg';
import Image from 'astro/components/Image.astro';

const description =
  'Personal website of Fraser McLean - software engineer and technology enthusiast. Showcasing projects, blog posts, and skills in software development.';
---

<BaseLayout title="Fraser McLean's Personal Website" description={description}>
  <section class="h-card mx-auto flex w-full max-w-4xl items-center gap-3 py-10 text-right md:gap-8">
    <div class="flex grow flex-col gap-2 md:gap-4">
      <h1 class="p-name font-heading text-4xl font-bold tracking-tight text-primary sm:text-5xl md:text-6xl">
        Fraser McLean
      </h1>

      <a href={Astro.site} class="u-url u-uid hidden">Fraser McLean</a>

      <section class="text-md flex flex-col gap-2 sm:text-lg">
        <p class="p-note">
          Hi there! My name is , and I'm a software engineer currently based in
          <span class="p-locality">London</span>. Welcome to my personal space on the web.
        </p>
        <p class="hidden md:block">
          Ocassionally, I like to share my thoughts on software development, technology trends, and the occasional
          project update.
        </p>
      </section>

      <nav class="hidden flex-wrap justify-end gap-2 sm:flex">
        <ButtonLink variant="primary" href={ABOUT_PATH} class="w-32">
          <UserIcon class="mr-2" width={16} height={16} /> About Me
        </ButtonLink>
        <ButtonLink variant="secondary" href={POSTS_PATH} class="w-32">
          <ArticleIcon class="mr-2" width={16} height={16} /> Read Blog
        </ButtonLink>
      </nav>
    </div>

    <Image
      src={headshotImage}
      width={256}
      height={256}
      alt="Fraser McLean Headshot"
      class="u-photo mx-auto w-32 rounded-full border-4 sm:w-48 md:w-64"
    />
  </section>

  <SkillsSection />
</BaseLayout>
