---
import HeroSection from '@/components/HeroSection.astro';
import TagLink from '@/components/links/TagLink.astro';
import { Table, TableBody, TableCell, TableFoot, TableHead, TableHeader, TableRow } from '@/components/starwind/table';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

const title = 'List of Tags';
const subtitle = 'A list of unique tags used across all blog posts.';

const posts = await getCollection('posts');
const tagCounts = posts
  .flatMap((post) => post.data.tags)
  .reduce(
    (acc, tag) => {
      acc[tag] = (acc[tag] || 0) + 1;
      return acc;
    },
    {} as Record<string, number>
  );

const tagsWithCounts = Object.entries(tagCounts).sort(([tagA], [tagB]) =>
  tagA.localeCompare(tagB, undefined, { sensitivity: 'base' })
);
---

<BaseLayout {title} description={subtitle}>
  <HeroSection {title} {subtitle} />

  <section class="my-8">
    <Table class="mx-auto max-w-md">
      <TableHeader>
        <TableRow class="font-heading tracking-wide uppercase">
          <TableHead class="text-secondary">Tag</TableHead>
          <TableHead class="text-right text-secondary">Posts</TableHead>
        </TableRow>
      </TableHeader>
      <TableBody>
        {
          tagsWithCounts.map(([tag, count]) => (
            <TableRow>
              <TableCell>
                <TagLink {tag}>{tag}</TagLink>
              </TableCell>
              <TableCell class="text-right">{count}</TableCell>
            </TableRow>
          ))
        }
      </TableBody>
      <TableFoot>
        <TableRow>
          <TableCell colspan="2">Total: {tagsWithCounts.length} tags</TableCell>
        </TableRow>
      </TableFoot>
    </Table>
  </section>
</BaseLayout>
