---
import FormattedDate from '@/components/FormattedDate.astro';
import { POSTS_PATH } from '@/constants';
import CalendarIcon from '@tabler/icons/outline/calendar-event.svg';
import { Picture } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

type Props = CollectionEntry<'posts'>['data'] & { slug: string; variant?: 'default' | 'featured' };

const { slug, title, description, heroImage, publishDate, variant = 'default' } = Astro.props;
---

<a href={`${POSTS_PATH}/${slug}`} class="block" aria-label={`Read blog post ${title}`}>
  <article
    class:list={[
      'group flex flex-col gap-4 rounded-2xl border bg-card p-2 text-card-foreground shadow-sm transition-shadow hover:bg-accent/80 hover:shadow-xl md:p-3',
      { 'md:h-80 md:flex-row': variant === 'featured' }
    ]}
  >
    <section class:list={['overflow-hidden rounded-xl', { 'md:h-full md:w-2/3': variant === 'featured' }]}>
      <Picture
        src={heroImage.src}
        alt={heroImage.alt}
        width={640}
        height={330}
        formats={['avif', 'webp']}
        quality={75}
        class:list={[
          'w-full transition-transform duration-300 ease-out group-hover:scale-105',
          { 'md:h-full md:object-cover': variant === 'featured' }
        ]}
      />
    </section>

    <section class:list={['flex grow flex-col justify-between gap-2', { 'md:w-1/3': variant === 'featured' }]}>
      <h3 class="font-heading text-xl leading-none font-semibold tracking-tight">{title}</h3>
      <p class="line-clamp-3 grow text-base text-muted-foreground">{description}</p>
      <footer>
        <CalendarIcon width={20} height={20} class="mr-2 inline-block" stroke-width={1} />
        <FormattedDate date={publishDate} class="text-sm font-semibold" />
      </footer>
    </section>
  </article>
</a>
