---
import CalendarIcon from '@tabler/icons/outline/calendar-event.svg';
import type { HTMLAttributes } from 'astro/types';
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import FormattedDate from './FormattedDate.astro';
import { Card, CardDescription, CardFooter, CardHeader, CardTitle } from './starwind/card';

type Props = CollectionEntry<'posts'>['data'] & HTMLAttributes<'a'>;

const { href, title, description, heroImage, publishDate } = Astro.props;
---

<a href={href} class="block h-full" aria-label={`Read blog post ${title}`}>
  <Card
    class="group flex h-full flex-col justify-between p-2 transition-shadow hover:bg-accent/80 hover:shadow-xl md:flex-row md:p-3"
  >
    <div class="overflow-hidden rounded-xl md:w-1/2 md:shrink-0">
      <Image
        src={heroImage.src}
        alt={heroImage.alt}
        width={640}
        height={330}
        class="h-full w-full transition-transform duration-300 ease-out group-hover:scale-105"
      />
    </div>
    <div class="mt-4 flex flex-col justify-between md:mt-0 md:ml-4">
      <CardHeader class="p-0">
        <CardTitle class="font-heading">{title}</CardTitle>
        <CardDescription class="line-clamp-4">{description}</CardDescription>
      </CardHeader>
      <CardFooter class="p-0">
        <CalendarIcon width={20} height={20} class="mr-2 inline-block" stroke-width={1} />
        <FormattedDate date={publishDate} class="text-sm font-semibold" />
      </CardFooter>
    </div>
  </Card>
</a>
