---
import ButtonLink from '@/components/links/ButtonLink.astro';

interface Props {
  title: string;
  subtitle?: string;
  primaryCta?: CallToAction;
  secondaryCta?: CallToAction;
}

interface CallToAction {
  label: string;
  href: string;
}

const { title, subtitle, primaryCta, secondaryCta } = Astro.props;
const hasCtas = !!primaryCta || !!secondaryCta;
---

<section class="w-full py-6 md:py-10">
  <div class="mx-auto flex max-w-5xl flex-col items-center gap-4 px-4 text-center">
    <h1 class="font-heading text-4xl font-bold tracking-tight text-primary md:text-6xl">{title}</h1>
    {subtitle && <p class="mx-auto max-w-2xl text-lg tracking-wide text-muted-foreground md:text-xl">{subtitle}</p>}
  </div>
  {
    hasCtas && (
      <nav class="mt-8 flex flex-wrap justify-center gap-4">
        {primaryCta && (
          <ButtonLink variant="primary" href={primaryCta.href} class="w-40">
            {primaryCta.label}
          </ButtonLink>
        )}
        {secondaryCta && (
          <ButtonLink variant="outline" href={secondaryCta.href} class="w-40">
            {secondaryCta.label}
          </ButtonLink>
        )}
      </nav>
    )
  }
</section>
