---
import PostCardDetails from '@/components/PostCardDetails.astro';
import PostCardImage from '@/components/PostCardImage.astro';
import { POSTS_PATH } from '@/constants';
import type { CollectionEntry } from 'astro:content';

type Props = CollectionEntry<'posts'>['data'] & { slug: string };

const { slug, title, description, heroImage, publishDate } = Astro.props;
---

<a href={`${POSTS_PATH}/${slug}`} class="block h-full" aria-label={`Read blog post ${title}`}>
  <article
    class="group flex h-full flex-col gap-4 rounded-2xl border bg-card p-2 text-card-foreground shadow-sm transition-shadow hover:bg-accent/80 hover:shadow-xl md:p-3"
  >
    <PostCardImage src={heroImage.src} alt={heroImage.alt} />
    <PostCardDetails {title} {description} {publishDate} />
  </article>
</a>
