---
import ButtonLink from '@/components/links/ButtonLink.astro';
import { Card } from '@/components/starwind/card';
import SourceCodeIcon from '@tabler/icons/outline/source-code.svg';
import WwwIcon from '@tabler/icons/outline/world-www.svg';
import { Picture } from 'astro:assets';
import { type CollectionEntry } from 'astro:content';

interface Props {
  entry: CollectionEntry<'projects'>;
}

const { entry } = Astro.props;
const { name, description, images, links, features, technologies } = entry.data;

const linksArray = [
  { href: links.website, label: 'Website', Icon: WwwIcon },
  { href: links.source, label: 'Source Code', Icon: SourceCodeIcon }
];
---

<Card as="li" class="grid grid-cols-1 gap-4 p-4 sm:grid-cols-3 sm:p-6">
  <section class="flex flex-col gap-4">
    {
      images.map(({ src, alt }, index) => (
        <Picture
          {src}
          {alt}
          width={320}
          formats={['avif', 'webp']}
          class:list={[
            'w-full rounded-md object-cover shadow-lg sm:col-start-3 sm:row-start-1',
            index > 0 && 'hidden sm:block'
          ]}
        />
      ))
    }
  </section>

  <section class="flex flex-col gap-4 sm:col-span-2 sm:col-start-1 sm:row-start-1">
    <h2 class="font-heading text-xl leading-none font-semibold tracking-tight">{name}</h2>
    <section>
      <div class="flex flex-col gap-2">
        {description.map((line) => <p class="text-muted-foreground">{line}</p>)}
      </div>
    </section>

    {
      features.length > 0 && (
        <section class="space-y-2">
          <h3 class="font-heading text-lg font-semibold">Notable Features</h3>
          <ul class="list-outside list-disc space-y-1 pl-6">
            {features.map((feature) => (
              <li class="text-muted-foreground">{feature}</li>
            ))}
          </ul>
        </section>
      )
    }

    <section>
      <h3 class="mb-2 font-heading text-lg font-semibold">Technologies</h3>
      <ul class="flex flex-wrap gap-2">
        {
          technologies.map((tech) => (
            <li class="rounded-full bg-neutral-300 px-3 py-1 text-sm dark:bg-neutral-700">{tech}</li>
          ))
        }
      </ul>
    </section>

    <nav class="mt-3 flex flex-wrap gap-2">
      {
        linksArray
          .filter(({ href }) => href !== undefined)
          .map(({ label, href, Icon }) => (
            <ButtonLink variant={label === 'Website' ? 'primary' : 'secondary'} href={href} rel="noopener">
              <Icon class="mr-1" width={16} height={16} />
              {label}
            </ButtonLink>
          ))
      }
    </nav>
  </section>
</Card>
