---
import Link from '@/components/links/Link.astro';
import { Avatar, AvatarFallback, AvatarImage } from '@/components/starwind/avatar';
import { Card } from '@/components/starwind/card';
import { convertNameToInitials } from '@/lib/avatar-naming';
import type { WebMentionEntry } from '@/lib/webmention-types';
import BlueskyIcon from '@tabler/icons/outline/brand-bluesky.svg';
import MastodonIcon from '@tabler/icons/outline/brand-mastodon.svg';
import RedditIcon from '@tabler/icons/outline/brand-reddit.svg';
import CalendarIcon from '@tabler/icons/outline/calendar-event.svg';
import FormattedDate from './FormattedDate.astro';

interface Props {
  entry: WebMentionEntry;
}

const { entry } = Astro.props as Props;

const publishDate = entry.published ? new Date(entry.published) : new Date(entry['wm-received']);

const sourcePlatform = (() => {
  if (entry['wm-source'].startsWith('https://brid.gy/comment/reddit/')) {
    return { name: 'Reddit', icon: RedditIcon };
  } else if (entry['wm-source'].includes('https://brid.gy/comment/bluesky/')) {
    return { name: 'Bluesky', icon: BlueskyIcon };
  } else if (entry['wm-source'].startsWith('https://brid.gy/comment/mastodon/')) {
    return { name: 'Mastodon', icon: MastodonIcon };
  }

  return null;
})();
---

<Link href={entry.url} rel="ugc">
  <Card class="p-2 transition-shadow hover:bg-accent/80 hover:shadow-xl sm:p-3">
    <div class="flex gap-2 sm:gap-3">
      <Avatar size="md" class="min-w-10">
        <AvatarImage src={entry.author.photo} alt={entry.author.name} />
        <AvatarFallback>{convertNameToInitials(entry.author.name)}</AvatarFallback>
      </Avatar>
      <div class="flex w-full flex-col gap-2">
        <header class="text-md md:text-lg">
          {entry.author.name}
        </header>
        <p class="text-sm text-muted-foreground md:text-base">{entry.content?.text}</p>
        <footer class="flex items-center justify-between text-xs font-light text-muted-foreground/80 md:text-sm">
          <div class="flex items-center gap-1">
            <CalendarIcon width={16} height={16} stroke-width={1} />
            <FormattedDate date={publishDate} />
          </div>

          {
            sourcePlatform && (
              <div class="flex items-center gap-1">
                {sourcePlatform.name}
                <sourcePlatform.icon width={16} height={16} stroke-width={1} />
              </div>
            )
          }
        </footer>
      </div>
    </div>
  </Card>
</Link>
