---
import FormattedDate from '@/components/FormattedDate.astro';
import Link from '@/components/links/Link.astro';
import { Avatar, AvatarFallback, AvatarImage } from '@/components/starwind/avatar';
import { Card } from '@/components/starwind/card';
import type { Comment } from '@/lib/reaction-types';
import BlueskyIcon from '@tabler/icons/outline/brand-bluesky.svg';
import MastodonIcon from '@tabler/icons/outline/brand-mastodon.svg';
import RedditIcon from '@tabler/icons/outline/brand-reddit.svg';
import CalendarIcon from '@tabler/icons/outline/calendar-event.svg';

interface Props extends Comment {}

const { authorName, authorInitials, avatarUrl, commentText, publishDate, sourceUrl, sourcePlatform } =
  Astro.props as Props;
---

<Link href={sourceUrl} rel="ugc">
  <Card class="flex flex-col gap-2 p-2 transition-shadow hover:bg-accent/80 hover:shadow-xl sm:gap-3 sm:p-3">
    <header class="flex items-center gap-1">
      <Avatar size="sm">
        <AvatarImage src={avatarUrl} alt={authorName} />
        <AvatarFallback>{authorInitials}</AvatarFallback>
      </Avatar>
      <h4 class="line-clamp-1 font-heading md:text-lg">{authorName}</h4>
    </header>

    <p class="text-sm text-muted-foreground md:text-base">{commentText}</p>
    <footer class="flex items-center justify-between text-xs font-light text-muted-foreground/80 md:text-sm">
      <div class="flex items-center gap-1">
        <CalendarIcon width={16} height={16} stroke-width={1} />
        <FormattedDate date={publishDate} />
      </div>

      {
        sourcePlatform && (
          <div class="flex items-center gap-1">
            {sourcePlatform}
            {sourcePlatform === 'Reddit' && <RedditIcon width={16} height={16} stroke-width={1} />}
            {sourcePlatform === 'Bluesky' && <BlueskyIcon width={16} height={16} stroke-width={1} />}
            {sourcePlatform === 'Mastodon' && <MastodonIcon width={16} height={16} stroke-width={1} />}
          </div>
        )
      }
    </footer>
  </Card>
</Link>
