---
import Footer from '@/components/Footer.astro';
import Separator from '@/components/starwind/separator';
import Toolbar from '@/components/Toolbar.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '@/constants.ts';
import '@/styles/starwind.css';
import '@fontsource-variable/geist';
import '@fontsource-variable/geist-mono';
import geistFont from '@fontsource-variable/geist/files/geist-latin-wght-normal.woff2';
import '@fontsource-variable/sora';
import soraFont from '@fontsource-variable/sora/files/sora-latin-wght-normal.woff2';

interface Props {
  title?: string;
  description?: string;
}

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
const canonicalUrl = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="en">
  <head>
    <title>{title}</title>
    <meta charset="utf-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href={canonicalUrl} />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="preload" as="font" type="font/woff2" href={soraFont} crossorigin />
    <link rel="preload" as="font" type="font/woff2" href={geistFont} crossorigin />
  </head>
  <body>
    <Toolbar />
    <main class="mx-auto my-4 max-w-6xl px-2 md:px-3">
      <slot />
    </main>
    <Separator class="my-4" />
    <Footer />
  </body>
</html>
