---
import CategoryLink from '@/components/CategoryLink.astro';
import Comments from '@/components/Comments.astro';
import PostBreadcrumbs from '@/components/PostBreadcrumbs.astro';
import PostMetadata from '@/components/PostMetadata.astro';
import PostStructuredData from '@/components/PostStructuredData.astro';
import Prose from '@/components/Prose.astro';
import RelatedPosts from '@/components/RelatedPosts.astro';
import TableOfContents from '@/components/TableOfContents.astro';
import TagList from '@/components/TagList.astro';
import type { MarkdownHeading } from 'astro';
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import BaseLayout from './BaseLayout.astro';

type Props = CollectionEntry<'posts'>['data'] & {
  slug: string;
  headings: MarkdownHeading[];
  readingTime?: string;
  updatedDate?: string;
};

const {
  slug,
  title,
  description,
  heroImage,
  publishDate,
  updatedDate,
  readingTime,
  headings,
  category,
  tags,
  enableComments
} = Astro.props;
---

<BaseLayout {title} {description} isArticle={true} {heroImage}>
  <PostStructuredData {title} {description} image={heroImage.src} {publishDate} {updatedDate} slot="head" />

  <Image
    src={heroImage.src}
    alt={heroImage.alt}
    width={1280}
    height={660}
    layout="constrained"
    class="mt-4 mb-8 rounded-4xl shadow-xl md:my-12"
  />

  <PostMetadata {title} {description} {publishDate} {updatedDate} {readingTime} class="my-8 md:my-12" />
  <PostBreadcrumbs {title} class="mb-8 hidden md:block" />

  <div class="flex w-full">
    <Prose class="w-full max-w-none xl:max-w-prose">
      <slot />
    </Prose>
    <aside class="sticky top-24 hidden h-fit grow flex-col gap-6 self-start pl-4 xl:flex">
      <TableOfContents headings={headings} includeCommentLink={enableComments} />
      {category && <CategoryLink category={category} />}
      <TagList tags={tags} />
    </aside>
  </div>

  <RelatedPosts {slug} {category} {tags} />

  {enableComments && <Comments />}
</BaseLayout>
