---
import Comments from '@/components/Comments.astro';
import CategoryLink from '@/components/links/CategoryLink.astro';
import PostBreadcrumbs from '@/components/PostBreadcrumbs.astro';
import PostMetadata from '@/components/PostMetadata.astro';
import Prose from '@/components/Prose.astro';
import RelatedPosts from '@/components/RelatedPosts.astro';
import Article from '@/components/structured-data/Article.astro';
import type { BreadcrumbItem } from '@/components/structured-data/BreadcrumbList.astro';
import BreadcrumbList from '@/components/structured-data/BreadcrumbList.astro';
import TableOfContents from '@/components/TableOfContents.astro';
import TagList from '@/components/TagList.astro';
import { POSTS_PATH } from '@/constants';
import { getRelatedPosts } from '@/lib/related-posts';
import type { MarkdownHeading } from 'astro';
import { Picture } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import BaseLayout from './BaseLayout.astro';

type Props = CollectionEntry<'posts'>['data'] & {
  slug: string;
  headings: MarkdownHeading[];
  readingTime?: string;
  updatedDate?: string;
};

const {
  slug,
  title,
  description,
  heroImage,
  publishDate,
  updatedDate,
  readingTime,
  headings,
  category,
  tags,
  enableComments
} = Astro.props;

const relatedPosts = await getRelatedPosts(slug, category, tags);

const breadcrumbItems: BreadcrumbItem[] = [
  { title: 'Home', url: Astro.site!.origin },
  { title: 'Posts', url: new URL(`${POSTS_PATH}`, Astro.site) },
  { title }
];
---

<BaseLayout {title} {description} isArticle={true} {heroImage}>
  <Article {title} {description} image={heroImage.src} {publishDate} {updatedDate} slot="head" />
  <BreadcrumbList items={breadcrumbItems} slot="head" />

  <Picture
    src={heroImage.src}
    alt={heroImage.alt}
    width={1280}
    height={660}
    formats={['avif', 'webp']}
    class="mt-4 mb-8 rounded-4xl shadow-xl md:my-12"
    quality={85}
  />

  <PostMetadata {title} {description} {publishDate} {updatedDate} {readingTime} class="my-8 md:my-12" />
  <PostBreadcrumbs {title} class="mb-8 hidden md:block" />

  <div class="flex w-full">
    <Prose class="w-full max-w-none xl:max-w-prose">
      <slot />
    </Prose>
    <aside class="sticky top-24 hidden h-fit grow flex-col gap-6 self-start pl-4 xl:flex">
      <TableOfContents
        headings={headings}
        includeCommentLink={enableComments}
        includeRelatedPostsLink={relatedPosts.length > 0}
      />
      {category && <CategoryLink category={category} />}
      <TagList tags={tags} />
    </aside>
  </div>

  {enableComments && <Comments />}

  {relatedPosts.length > 0 && <RelatedPosts posts={relatedPosts} />}
</BaseLayout>
