---
import HeroSection from '@/components/HeroSection.astro';
import PostCard from '@/components/PostCard.astro';
import SectionHeading from '@/components/SectionHeading.astro';
import {
  Pagination,
  PaginationContent,
  PaginationItem,
  PaginationLink,
  PaginationNext,
  PaginationPrevious
} from '@/components/starwind/pagination';
import BaseLayout, { type Props as BaseLayoutProps } from '@/layouts/BaseLayout.astro';
import ArticleIcon from '@tabler/icons/outline/article.svg';
import type { Page } from 'astro';
import type { CollectionEntry } from 'astro:content';

interface Props extends BaseLayoutProps {
  listTitle: string;
  page: Page<CollectionEntry<'posts'>>;
  paginationBasePath: string;
}

const { title, description, listTitle, page, paginationBasePath, ...rest } = Astro.props;
---

<BaseLayout {title} {description} {...rest}>
  <HeroSection {title} subtitle={description} />

  <slot name="head" slot="head" />
  <slot />

  <section class="my-8">
    <SectionHeading Icon={ArticleIcon} text={listTitle} />
    <nav class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {page.data.map((entry) => <PostCard slug={entry.id} {...entry.data} />)}
    </nav>
  </section>

  {
    page.lastPage > 1 && (
      <section class="my-8">
        <SectionHeading text="More Posts" />
        <Pagination>
          <PaginationContent>
            {page.currentPage > 1 && (
              <PaginationItem>
                <PaginationPrevious
                  href={
                    page.currentPage === 2
                      ? `${paginationBasePath}`
                      : `${paginationBasePath}/page/${page.currentPage - 1}`
                  }
                />
              </PaginationItem>
            )}
            {Array.from({ length: page.lastPage }, (_, i) => (
              <PaginationItem>
                <PaginationLink
                  href={i === 0 ? `${paginationBasePath}` : `${paginationBasePath}/page/${i + 1}`}
                  isActive={i + 1 === page.currentPage}
                >
                  {i + 1}
                </PaginationLink>
              </PaginationItem>
            ))}
            {page.currentPage < page.lastPage && (
              <PaginationItem>
                <PaginationNext href={`${paginationBasePath}/page/${page.currentPage + 1}`} />
              </PaginationItem>
            )}
          </PaginationContent>
        </Pagination>
      </section>
    )
  }
</BaseLayout>
