---
import HeroSection from '@/components/HeroSection.astro';
import PostCard from '@/components/PostCard.astro';
import SectionHeading from '@/components/SectionHeading.astro';
import {
  Pagination,
  PaginationContent,
  PaginationItem,
  PaginationLink,
  PaginationNext,
  PaginationPrevious
} from '@/components/starwind/pagination';
import BaseLayout, { type Props as BaseLayoutProps } from '@/layouts/BaseLayout.astro';
import ArticleIcon from '@tabler/icons/outline/article.svg';
import type { CollectionEntry } from 'astro:content';

interface Props extends BaseLayoutProps {
  listTitle: string;
  entries: CollectionEntry<'posts'>[];
  currentPage: number;
  lastPage: number;
  basePath: string;
}

const { title, description, listTitle, entries, currentPage, lastPage, basePath, ...rest } = Astro.props;
---

<BaseLayout {title} {description} {...rest}>
  <HeroSection {title} subtitle={description} />

  <slot name="head" slot="head" />
  <slot />

  <section class="my-8">
    <SectionHeading Icon={ArticleIcon} text={listTitle} />
    <nav class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {entries.map((entry) => <PostCard slug={entry.id} {...entry.data} />)}
    </nav>
  </section>

  {
    lastPage > 1 && (
      <section class="mt-8">
        <SectionHeading text="More Posts" />
        <Pagination>
          <PaginationContent>
            {currentPage > 1 && (
              <PaginationItem>
                <PaginationPrevious href={currentPage === 2 ? `${basePath}` : `${basePath}?page=${currentPage - 1}`} />
              </PaginationItem>
            )}
            {Array.from({ length: lastPage }, (_, i) => (
              <PaginationItem>
                <PaginationLink
                  href={i === 0 ? `${basePath}` : `${basePath}?page=${i + 1}`}
                  isActive={i + 1 === currentPage}
                >
                  {i + 1}
                </PaginationLink>
              </PaginationItem>
            ))}
            {currentPage < lastPage && (
              <PaginationItem>
                <PaginationNext href={`${basePath}?page=${currentPage + 1}`} />
              </PaginationItem>
            )}
          </PaginationContent>
        </Pagination>
      </section>
    )
  }
</BaseLayout>
